:root{
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    --white: #ffffff;
    --black: #000000;
    --background: #2F303A;
    --title: #212121;
    --button: #F5F4FA;
    --footer-meltel: rgba(255, 255, 255, 0.6);
    --button-inactive: #188CE8;
}

/* html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
} */

.list{
    padding: 0;
    margin: 0;
    list-style: none;
}

p,
h1,
h2,
h3{
    padding: 0;
    margin: 0;
}
/* колір основного тексту #212121 */
/* другорядний колір тексту #757575*/
/* акцент #2196F3 */
/* #FFFFFF білий */
/* #2F303A другорядний */
/*  */

body{
    margin: 0;
    width: 1600px;
    color: var(--primary-text-color);
    background-color: var(--white);
    font-family: Roboto, sans-serif;
}
/* header */
.top{
    border-bottom: 1px solid #ECECEC;
}

.logo{
    color: var(--black);
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-span{
    color: var(--accent-color);
}

.logo-foot{
    display: inline-block;
    margin-bottom: 20px;
    color: var(--white);
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.site-nav .link{
    color: var(--title);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-color);
}

.site-nav .link.current{
    color: var(--accent-color);
}

.contacts .meltel{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contacts .meltel:hover,
.contacts .meltel:focus{
    color: var(--accent-color);
}

.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}
/* main */
.hero{
    background-color: var(--background);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title{
    margin-bottom: 30px;
    margin-top: 0;
    color: var(--white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.button-main{
    display: inline-block;
    border-radius: 4px;
    border: var(--accent-color);
    padding: 10px 32px;
    min-width: 216px;
    color: var(--white);
    background-color: var(--accent-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.button-main:hover,
.button-main:focus{
    color: var(--white);
    background-color: var(--button-inactive);
}
.buttons{
    color: var(--title);
    background-color: var(--button);
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
}

.buttons:hover,
.buttons:focus{
    color: var(--white);
    background-color: var(--accent-color);
    cursor: pointer;
    font-family: inherit;
}

.section,
.section-team,
.section-wwd{
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-wwd{
    padding-top: 0;
}
.section-team{
    background-color: var(--button);  
}

.list li{
    width:300px;
}
.section-titlef{
    display: none;
}

.section-title{
    margin-bottom: 50px;
    color: var(--title);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.section-ti{
    margin-bottom: 10px;
    color: var(--title);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.description{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.section-ti-sec {
    color: var(--title);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.section-ti-sec-descr{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}
.section-tp{
    color: var(--title);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.section-tp-descr{
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}

.link{
    text-decoration: none;
}

















/* footer */
.footer{
    background: var(--background);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footadd{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.address-link{
    color: var(--white);
    text-decoration: none;
}

.address-link:hover,
.address-link:focus{
    color: var(--accent-color);
}

.address-mt{
    color: var(--footer-meltel);
    text-decoration: none;
}

.address-mt:hover,
.address-mt:focus{
    color: var(--accent-color);
}

.address li{
    margin-bottom: 9px;
}